/*Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Universal*/
body {
  background-color: rgb(221, 221, 221);
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Montserrat', sans-serif; */
  font-size: 14px;
}

main {
  max-width: 960px;
  margin: 0 auto 3rem auto;
  background-color: white;

}

/*Header*/

#header {
  display: block;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;
  color: white;
  font-weight: bold;
}

.nati {
  background-color: rgb(46, 46, 46);;
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 30px;
  padding-top: 8px;
  position: absolute;
}

.cincy, .nav {
  width: 960px;
  display: flex;
  margin:0 auto;
  justify-content: space-between;
}


.cincy a, .topnav a {
  text-decoration: none;
  color: white;
}

.banks  {
  display: flex;
  font-weight: 400;
}

.locationlocation {
  display: flex;
  justify-content: right;
  line-height: 1rem;
}

.locationlocation h2 {
  font-weight: 600;
}

.login p {
  left: 1rem;
  line-height: 1rem;
}

.login img{
  padding: 0 0 1rem 1rem;
  cursor: auto;
}

/*Popup Display*/
.popup h3:hover, .login a:hover {
  opacity: .5;
}

.fa {
  display: block;
  position: relative;
  left: 11rem;
  bottom:  1rem;
  padding-left: 5px;
  color: rgb(189, 189, 189);
}

/*location popUp*/
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 286px;
  height: 435px;
  background-color: white;
  border: 1px solid grey;
  color: black;
  padding: 1rem;
  position: absolute;
  z-index: 100;
  top: 1.25rem;
}

/*popup window info*/
.popuptext h2 {
  text-align: center;
  padding-bottom: 1rem;
  font-weight: 600;
}

.winhead {
  display: flex;
  padding-bottom: 1.5rem;
  font-size: 12px;
}
.winhead img {
  width: 7rem;
  height: auto;
  padding-right: 15px;
}

.winbank h3 {
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 0.75rem;
}
/*popup days and hours*/
.winadd {
  color: grey;
}

.wintime {
  display: flex;
  justify-content: space-between;
  color: grey;
  font-size: 12px;
}

.popuptext h3 {
  text-decoration: underline;
  font-size: 12px;
  padding: 0.25rem 0 1rem 0;
}
/*popup eat drink happy hour etc.*/
.winlink ul{
  display: grid;
  grid-template-columns: auto auto;
  background-color: lightgrey;
  gap: 1px;
  padding: 1px 0;
}

.winlink li {
  background-color: white;
  width: 9rem;
  height: 2rem;
  line-height: 2rem;
  text-decoration: underline;
  font-size: 12px;
  padding-left: 0.5rem;
  font-weight: 600;
  box-sizing: border-box;
}
/*new location button*/
.newloc {
  display: block;
  width: 100%;
  height: 4rem;
  background-color: #9a3324; 
  background-image: linear-gradient(135deg, #995937 0%, #ab633d 43%, #cd7749 49%, #ab633d 55%, #995937 100%);
  color: white;
  font-weight: 600;
  font-size: 12px;
  margin-top: 1rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 5px;
}

.newloc p {
  display: inline-block;
  background-color: #9a3324; 
  background-image:  linear-gradient(135deg, #995937 0%, #ab633d 40%, #cd7749 49%, #ab633d 58%, #995937 100%);
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  line-height: 2rem;
}
/*newloc hover*/
.newloc:hover, .newloc p:hover {
  background-image: linear-gradient(135deg, #cd7749 0%, #ab633d 43%, #cd7749 49%, #ab633d 55%, #cd7749 100%);   /*figure out the hover color scheme*/
}
  /* Toggle this class - hide and show the popup */
.popup  .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/*end of popup*/

/*Login navbar*/
.login {
  display: flex;
  width: 5rem;
  height: auto;
  justify-content: space-around;
  position: relative;
  left: 20px;
  
}

.navbar {
  background-color: rgb(3, 3, 3);
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 7rem;
  position: absolute;
  top: 32.5px;
  padding: 0.75rem 0 0.25rem 0;
}

.topnav {
  display: block;
  margin: auto 0;
  width: 100%;
  text-align: center;
}

.topnav a:hover {
  color: gray;
}

.topnav a {
  padding: 0.5rem;
}

.order {
  background-color: #9a3324; /*color linear gradient*/
  background-image: linear-gradient(135deg, #995937 0%, #ab633d 43%, #cd7749 49%, #ab633d 55%, #995937 100%);
  border-radius: 5px;
  font-size: 0.75rem;
  padding: 0.5rem;
  transition-duration: 0.4s;
}

.order:hover {
  color: white !important;
  background-image: linear-gradient(to right, #cd7749, #ab633d, #cd7749)
  
}

/*Locations section*/

.happy   { 
   padding-top: 10rem;
}

.find {
  background-image: url(https://media.yardhouse.com/images/site/tabmenu-bg.png);
  margin-top: -0.25rem;
}

.find ul {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.find a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.find a:hover {
  color: white;
  text-shadow: 2px 2px 2px black;
}

/*main page*/
  
#main {
  display: flex;
  padding: 1rem;
}

.freedom {
  padding-right: 1rem;
}

.address {
  border-bottom: 1px grey dotted;
  padding-bottom: 1rem;
}

.address p {
  font-size: 12px;
  color: #706b6b;
  line-height: 1.5rem;
  font-weight: bold;
}

h1 { 
  color: black;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 48px;
  font-weight: bold;
  
  /*font-family: bebas-Neue is not in the open source
  catalog.  It's found from external foundries.  (may
  have to pay for it) - so I used something close*/
}

.dining {
  margin: 0 auto;
  height: 60%;
  padding-top: 10px;
}

.dining li a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  padding: 1rem;
  font-weight: bold;
}

.dining li {
  padding: 0.75rem 0;
  width: 175px;
  background-color: #995937;
  background-image: linear-gradient(135deg, #995937 0%, #ab633d 43%, #cd7749 49%, #ab633d 55%, #995937 100%);
  border-radius: 5px;
  margin: 0.75rem 0;
}

.dining li:hover {
  background-image: linear-gradient(to right, #cd7749, #ab633d, #cd7749);
}

.options  {
  padding: 1rem 0;
}

.options h3{
  padding-bottom: 10px;
}

.dining h3:hover {
  text-decoration: underline;
}

.dining h3 a{
  text-decoration: none;
  color: #995937;
  font-size: 12px;
  font-weight: bold;
}

 .map img, .map{
   width: 600px;
   height: auto;
 }

 .map p {
   font-weight: 600;
   font-size: 12px;
   line-height: 1.5rem;
   padding: 1rem 0px;
 }

 /*hours Get directions*/
 .details {
   display: flex;
   justify-content: space-between;
   padding: 0 1rem;
   
 }

 .time {
   height: 20rem;
   margin-top: 1rem;
   font-weight: bold;
   font-size: 12px;
 }

 .time tr {
   padding: 1rem 0;
 }

 .time a {
   text-decoration: none;
   color: #995937;
 }

.directions a {
  text-decoration: none;
}

.restaurant {
  display: flex;
  color: white;
  font-weight: bold;
}

.restaurant h4 {
  background-color: #995937;
  background-image: linear-gradient(135deg, #995937 0%, #ab633d 43%, #cd7749 49%, #ab633d 55%, #995937 100%);
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.restaurant h6  {
  margin: 0 auto;
}

.restaurant p a {
  background-color: black;
  color: white;
  padding: 0.5rem;
  display: block;
  margin-left: 20px;
}

.destination {
  display: flex;
}

.destination span {
  border: 1px solid black;
  padding: .5rem 12rem .5rem .5rem;
  margin: .5rem 0;
  border-radius: 5%;
  color: gray;
}

.destination p {
  padding: 1rem 0 0 3rem;
  font-weight: bold;
  color: black;
}
.destination p a {
  color: black;
}

.yardhouse {
  padding-top: 2rem ;
  font-size: 12px;
  color:  #995937;
  font-weight: bold;
}

.yardhouse p{
  padding-bottom: 0.5rem;
}

.other h4 {
  font-weight: bold;
  font-size: 16px;
  padding: 0.75rem 0 1.5rem 0;
}

.other p {
  font-weight: bold;
  line-height: 1.5rem;
  color: rgb(88, 87, 87);
}

.online { 
  display: flex;
}

.online img {
  padding-right: 2.3rem;
}

.seating {
  display: flex;
  padding-bottom: 1rem;
}

.seating img {
  padding-right: 1rem;
}


/*footer*/
#footer {
  background-color: black;
  color: white;
  letter-spacing: 0.1rem;
}

footer {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.custinfo {
  display: flex;
  padding: 2rem 0;
}

.email h4{
  font-weight: bold;
  padding-right: 2rem;
}

.email p {
  background-color: rgb(46, 46, 46);
  color: gray;
  padding: 0.5rem 10rem 0.5rem 0.25rem;
  margin: 1rem 2rem 0 0;
  border-radius: 5px;
  font-weight: bold;
}

.dob h6 {
  color: lightgray;
  font-size: 12px;
  padding-bottom: 1rem;
  margin-left: 0.5rem;
  letter-spacing: 0.1rem;
}

.dropdown {
  display: flex;
}
/*working on dropdown buttons*/
.dropdown .btn {
  color: #995937;
  display: flex;
  background-color: rgb(27, 27, 27);
  margin-right: 10px;
  border-radius: 5px;
  border-right: 2rem solid #995937; 
  font-weight: 600;
  height: 3.5rem;
  box-shadow:  rgb(85, 85, 85);
}

.caret {
  position: relative;
  left: 2.5rem;
  top: 0.75rem;
  color: white;
  
}

/*need to get this gradient on dropdown
 background-image:  linear-gradient(135deg, #995937 0%, #ab633d 40%, #cd7749 49%, #ab633d 58%, #995937 100%);
  */


.brands p {
  font-weight: bold;
  letter-spacing: 0.08rem;
}

.brands ul{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  color: grey;
  font-weight: bold;
}
/*checkmark box*/
.brands input {
  background-color: #383838;
  color: red;
  border: 1px solid rgb(46, 46, 46);
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
/*end checkmark box*/

.brands li {
  margin: auto 2.5rem auto 0;
  width: 10rem;
  height: 1.5rem;
  font-size: 12px;
  padding: 0.25rem 0 0 0;
}

.join {
  background-color: #9a3324; 
  background-image:  linear-gradient(135deg, #995937 0%, #ab633d 40%, #cd7749 49%, #ab633d 58%, #995937 100%);
  border-radius: 5px;
  height: 2rem;
  width: 5rem;
  font-weight: bold;
  display: flex;
  margin-bottom: 4rem;
}

.join:hover {
  background-image: linear-gradient(135deg, #cd7749 0%, #ab633d 43%, #cd7749 49%, #ab633d 55%, #cd7749 100%);   /*figure out the hover color scheme*/
}


.join p {
  margin: auto;
}

.house {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.footer-title {
  color: gray;
  font-size: 16px;
  margin-bottom: 1rem;
}

.house ul li {
  font-size: 12px;
  margin-bottom: 0.5rem;
  color: lightgray;
}

.copyright {
  display: flex;
  justify-content: center;
  color: #906d4f;
  font-size: 12px;
  margin-bottom: 0.25rem;
}

.copyright p {
  margin-right: 0.5rem;
}

.darden {
  display: flex;
  justify-content: center;
  font-size: 12px;
}